@charset ("utf-8");

/* ------------------------------------------------------
	- Title : Cascading Style Sheets
	- Author : 이신영 (Lee sin-young)
	- Date : 2016-06-29
	- Description : EVO css
--------------------------------------------------------*/


/* layout
--------------------------------------------------------*/
html, body, form {height:100%;}
#header {width:100%; min-width:1000px; height:147px; padding-top:23px; position:relative; z-index:1000;}
#header:before {content:""; display:block; width:100%; height:60px; position:absolute; left:0; top:110px; background:#008836;}
#header header {width:1000px; height:100%; margin:0 auto; position:relative; z-index:100;}
#container {width:100%; min-width:1000px; min-height:100%; margin:-170px 0 -194px;}
#inner_container {width:100%; padding:170px 0 194px;}
#container .content_default {width:1000px; margin:0 auto; position:relative;}
#container .content_full {width:100%; position:relative; background:#f5f5f5;}
#footer {width:100%; min-width:1000px; height:194px; color:#fff; position:relative; background:#313438;}
#footer footer {width:1000px; margin:0 auto; padding-top:48px; position:relative;} /* 2017.02.18 수정 */


/* header - 2017.02.18 추가
--------------------------------------------------------*/

	#header .logo {position:absolute; top:14px; left:0;}
	#header h1 {width:182px; height:57px; margin:0 auto;}
	#header .textbook_logo {width:182px; height:57px; font-family:"NanumSquare"; color:#4b4f55; font-size:28px; line-height:26px; letter-spacing:-0.5px; position:absolute;}
	#header .textbook_logo:before {content:""; display:block; width:69px; height:2px; position:absolute; right:3px; top:11px; background:#4b4f55;}
	#header .textbook_logo span {font-family:"NanumSquare Light"; font-size:13px; font-style:normal; vertical-align:top; letter-spacing:0; padding-left:2px;}
	#header .nav {position:absolute; top:19px; right:0;}
	#header .nav li {display:inline-block; font-family:"NanumSquare Bold"; font-size:14px; color:#4b4f55;}
	#header .nav li.first {margin-right:26px;}

/* common
--------------------------------------------------------*/
	
	/* button */
	.btn_circle_gray {display:inline-block; min-width:8px; height:36px; line-height:36px; padding:0 14px; text-align:center; color:#7f7f7f !important; overflow:hidden; border:1px solid #c8cacc; border-radius:36px; position:relative; background:#fff;}
	.btn_circle_gray.on {color:#29b498 !important; border:1px solid #29b498;}
	.btn_disc_gray {display:inline-block; min-width:8px; height:36px; line-height:36px; padding:0 14px; text-align:center; color:#fff !important; overflow:hidden; border:1px solid #6a7078; border-radius:36px; position:relative; background:#6a7078;}
	.btn_circle_emerald {display:inline-block; min-width:8px; height:36px; line-height:36px; padding:0 14px; text-align:center; color:#29b498 !important; overflow:hidden; border:1px solid #29b498; border-radius:36px; position:relative; background:#fff;}
	.btn_disc_emerald {display:inline-block; min-width:8px; height:36px; line-height:36px; padding:0 14px; text-align:center; color:#fff !important; overflow:hidden; border:1px solid #29b498; border-radius:36px; position:relative; background:#29b498;}
	.btn_disc_green {display:inline-block; min-width:8px; height:36px; line-height:36px; padding:0 14px; text-align:center; color:#fff !important; overflow:hidden; border:1px solid #008836; border-radius:36px; position:relative; background:#008836;}
	
	/* pagination */
	.pagination {padding-top:50px; text-align:center;}
	.pagination a {display:inline-block; min-width:8px; height:36px; line-height:36px; padding:0 14px; color:#7f7f7f !important; overflow:hidden; border:1px solid #fff; border-radius:36px; position:relative; background:#fff;}
	.pagination .ico_arr {display:block; width:11px; height:11px; text-align:left; overflow:hidden; text-indent:-1000em; position:absolute; left:50%; top:50%; transform:translateY(-50%) rotate(45deg); -webkit-transform:translateY(-50%) rotate(45deg);}
	.pagination .ico_arr:before, .pagination .ico_arr:after {content:""; display:block; position:absolute; background:#c8cacc;}
	.pagination .btn_page_first, .pagination .btn_page_last, .pagination .btn_page_prev, .pagination .btn_page_next {border:1px solid #c8cacc; background:#fff;}
	.pagination .btn_page_first .ico_arr {margin-left:0;}
	.pagination .btn_page_prev .ico_arr {margin-left:-3px;}
	.pagination .btn_page_last .ico_arr {margin-left:-9px;}
	.pagination .btn_page_next .ico_arr {margin-left:-6px;}
	.pagination .btn_page_first .ico_arr:before, .pagination .btn_page_prev .ico_arr:before, .pagination .btn_page_last .ico_arr:before, .pagination .btn_page_next .ico_arr:before {width:2px; height:100%;}
	.pagination .btn_page_first .ico_arr:after, .pagination .btn_page_prev .ico_arr:after, .pagination .btn_page_last .ico_arr:after, .pagination .btn_page_next .ico_arr:after {width:100%; height:2px;}
	.pagination .btn_page_first .ico_arr:before, .pagination .btn_page_prev .ico_arr:before {left:0; top:0;}
	.pagination .btn_page_first .ico_arr:after, .pagination .btn_page_prev .ico_arr:after {left:0; bottom:0;}
	.pagination .btn_page_last .ico_arr:before, .pagination .btn_page_next .ico_arr:before {right:0; top:0;}
	.pagination .btn_page_last .ico_arr:after, .pagination .btn_page_next .ico_arr:after {right:0; top:0;}
	.pagination .btn_page_first, .pagination .btn_page_last {width:18px;}
	.pagination .btn_page_first:after, .pagination .btn_page_last:after {content:""; display:block; width:1px; height:14px; position:absolute; top:5px; background:#c8cacc;}
	.pagination a:hover, .pagination a.on {color:#fff !important; border-color:#008836 !important; background:#008836 !important;}
	.pagination a:hover .ico_arr:before, .pagination a:hover .ico_arr:after, .pagination a.on .ico_arr:before, .pagination a.on .ico_arr:after {background:#fff !important;}


	.img_gallery .img_slider .btn_arr .ico_arr {display:block; width:22px; height:22px; overflow:hidden; text-indent:-1000em; position:absolute; left:50%; top:50%; transform:translateY(-50%) rotate(45deg); -webkit-transform:translateY(-50%) rotate(45deg);}
	.img_gallery .img_slider .arr_prev .ico_arr {margin-left:-5px;}
	.img_gallery .img_slider .arr_next .ico_arr {margin-left:-18px;}
	.img_gallery .img_slider .arr_prev .ico_arr:before, .img_gallery .img_slider .arr_prev .ico_arr:after, .img_gallery .img_slider .arr_next .ico_arr:before, .img_gallery .img_slider .arr_next .ico_arr:after {content:""; display:block; position:absolute; background:#fff;}
	.img_gallery .img_slider .arr_prev .ico_arr:before {width:2px; height:100%; left:0; top:0;}
	.img_gallery .img_slider .arr_prev .ico_arr:after {width:100%; height:2px; left:0; bottom:0;}
	.img_gallery .img_slider .arr_next .ico_arr:before {width:2px; height:100%; right:0; top:0;}
	.img_gallery .img_slider .arr_next .ico_arr:after {width:100%; height:2px; right:0; top:0;}
	
	/* page_title_area */
	.page_title_area {padding:42px 0 46px 0; line-height:1.5; text-align:center;}
	.page_title_area .page_title {padding-bottom:4px; font-size:50px; color:#313337; font-family:NanumSquare ExtraBold, "돋움", Dotum, "굴림", Gulim, arial, sans-serif;}
	.page_title_area .subtitle {font-size:18px;}

	/* content_title_area */
	.content_title_area {padding:40px 0; line-height:1.5; text-align:center;}
	.content_title_area .content_title {font-size:30px; color:#313337; font-family:NanumSquare ExtraBold, "돋움", Dotum, "굴림", Gulim, arial, sans-serif;}
	.content_title_area .subtitle {font-size:18px; color:#29b498; font-family:NanumSquare bold, "돋움", Dotum, "굴림", Gulim, arial, sans-serif;}

	/* scroll_fixed */
	.scroll_fixed {}

	/* line_through_menu */
	.line_through_menu {margin-bottom:24px; text-align:center; position:relative;}
	.line_through_menu:before {content:""; display:block; width:100%; height:1px; margin-top:-1px; position:absolute; left:0; top:50%; background:#c8cacc;}
	.line_through_menu a:first-child {margin-left:0 !important;}
	.line_through_menu .btns {display:inline-block; padding:0 45px; position:relative; background:#fff; z-index:1;}
	.line_through_menu .btns a {min-width:52px; margin-left:4px;}
	.line_through_menu .txt_btns {display:inline-block; padding:0 30px; font-size:18px; font-family:NanumSquare bold, "돋움", Dotum, "굴림", Gulim, arial, sans-serif; position:relative; background:#fff; z-index:1;}
	.line_through_menu .txt_btns a {margin-left:32px; color:#4a4f55;}
	.line_through_menu .txt_btns a.on {color:#29b498;}

	/* textbook_list - 2017.02.18 추가 */
	.textbook_list {display:inline-block;}
	.textbook_list li {float:left; width:180px; height:243px; margin:0 25px 30px 0;}
	.textbook_list li.right {margin-right:0;}
	.textbook_list li a {width:100%; height:100%; display:block; position:relative;}
	.textbook_list li a img.book_cover {max-width:100%; max-height:100%; position:absolute; left:50%; top:50%; -webkit-transform:translate(-50%, -50%); transform:translate(-50%, -50%);}
	.textbook_list li a .over_box {width:180px; height:243px; position:absolute; top:0; left:0; display:block; -ms-filter:alpha(opacity=0); filter:alpha(opacity=0); opacity:0; transition:0.3s all ease; -webkit-transition:0.3s all ease;}
	.textbook_list li a:hover .over_box {-ms-filter:alpha(opacity=100); filter:alpha(opacity=100); opacity:1; transition:0.3s all ease; -webkit-transition:0.3s all ease;}
	.textbook_list li a .over_box:before {content:""; width:100%; height:100%; position:absolute; top:0; left:0; background-color:#000000; -ms-filter:alpha(opacity=70); filter:alpha(opacity=70); opacity:0.7; display:block; box-shadow: #969696 7px 7px 20px 0px; -webkit-box-shadow: #969696 7px 7px 20px 0px; -moz-box-shadow: #969696 7px 7px 20px 0px;}
	.textbook_list li a .over_box .box {width: 180px; height: 243px; display:table-cell; vertical-align:middle; position:relative; z-index:20;}
	.textbook_list li a .over_box .box span {text-align:center; color:#ffffff; display:block;}
	.textbook_list li a .over_box .subject {font-family:NanumSquare ExtraBold; font-size:25px; margin-bottom:10px; transform:translateX(-20px); -webkit-transform:translateX(-20px);  transition:0.5s all ease; -webkit-transition:0.5s all ease;}
	.textbook_list li a .over_box .writer {font-size:15px; transform:translateX(-20px); -webkit-transform:translateX(-20px);  transition:0.7s all ease; -webkit-transition:0.7s all ease;}
	.textbook_list li a:hover .over_box .subject {transform:translateX(0px); -webkit-transform:translateX(0px); transition:0.5s all ease; -webkit-transition:0.5s all ease;}
	.textbook_list li a:hover .writer {transform:translateX(0px); -webkit-transform:translateX(0px); transition:0.6s all ease; -webkit-transition:0.6s all ease;}
	.textbook_list li a .data_box {/*width:106px; height:55px;*/ position:absolute; top:-8px; right:-8px; font-family:NanumSquare bold; color:#fff; font-size:15px; text-align:center; line-height:47px;}
	.textbook_list li a .data_box span {display:inline-block; height:47px; line-height:47px; position:relative;}
	.textbook_list li a .data_box span:before {content:""; display:block; width:100%; height:100%; position:absolute; left:0; top:0; border-radius:24px; -webkit-border-radius:24px; -ms-filter:alpha(opacity=80); filter:alpha(opacity=80); opacity:0.8;}
	.textbook_list li a .data_box .subject {padding:0 18px;}
	.textbook_list li a .data_box .subject:before {background-color:#000;}
	.textbook_list li a .data_box .subject .txt {display:block; width:100%; height:100%; color:#fff; position:relative; z-index:20;}
	.textbook_list li a .data_box .year {width:47px; height:47px; display:inline-block; margin-left:-11px;}
	.textbook_list li a .data_box .year:before {background-color:#27846a; box-shadow: #666 -1px 7px 20px 0px; -webkit-box-shadow: #666 -1px 7px 20px 0px; -moz-box-shadow: #666 -1px 7px 20px 0px;}


/* footer - 2017.02.18 추가
--------------------------------------------------------*/

	#footer .footer_logo {width:119px; height:28px; float:left; position:absolute; top:32px; left:0}
	#footer address {width:567px; font-size:13px; font-style:normal; line-height:21px; letter-spacing:-0.4px; position:absolute; top:32px; left:152px;}
	#footer address span {background:url("/images/textbook/footer_bar.png") no-repeat  right center; padding-right:9px; margin-right:9px;}
	#footer address span.first {padding-left:0;}
	#footer address span.last {background:none;}
	#footer .textbook_logo {width:182px; height:57px; font-family:"NanumSquare Bold"; color:#ffffff; font-size:28px; line-height:26px; letter-spacing:-0.5px; position:absolute; top:32px; right:0;}
	#footer .textbook_logo:before {content:""; display:block; width:69px; height:2px; position:absolute; right:3px; top:11px; background:#ffffff;}
	#footer .textbook_logo span {font-family:"NanumSquare Light"; font-size:13px; font-style:normal; vertical-align:top; letter-spacing:0; padding-left:2px;}
