@charset "utf-8";

/* ------------------------------------------------------
	- Title : Cascading Style Sheets
	- Author : 이신영 (Lee sin-young)
	- Date : 2017-02-16
	- Description : 리셋을 위한 css
--------------------------------------------------------*/


/* 퍼블리싱 테스트용 웹폰트 설정
--------------------------------------------------------*/
	
	/* 나눔스퀘어 */
	@font-face {
		font-family:"NanumSquare";
		src:url("/include/font/NanumSquareR.eot");
		src:url("/include/font/NanumSquareR.eot?#iefix") format("embedded-opentype"),
			url("/include/font/NanumSquareR.woff") format("woff"),
			url("/include/font/NanumSquareR.ttf") format("truetype")
	}

	/* 나눔스퀘어 라이트 */
	@font-face {
		font-family:"NanumSquare Light";
		src:url("/include/font/NanumSquareL.eot");
		src:url("/include/font/NanumSquareL.eot?#iefix") format("embedded-opentype"),
			url("/include/font/NanumSquareL.woff") format("woff"),
			url("/include/font/NanumSquareL.ttf") format("truetype")
	}

	/* 나눔스퀘어 볼드 */
	@font-face {
		font-family:"NanumSquare Bold";
		src:url("/include/font/NanumSquareB.eot");
		src:url("/include/font/NanumSquareB.eot?#iefix") format("embedded-opentype"),
			url("/include/font/NanumSquareB.woff") format("woff"),
			url("/include/font/NanumSquareB.ttf") format("truetype")
	}

	/* 나눔스퀘어 엑스트라 볼드 */
	@font-face {
		font-family:"NanumSquare ExtraBold";
		src:url("/include/font/NanumSquareEB.eot");
		src:url("/include/font/NanumSquareEB.eot?#iefix") format("embedded-opentype"),
			url("/include/font/NanumSquareEB.woff") format("woff"),
			url("/include/font/NanumSquareEB.ttf") format("truetype")
	}


/* 기본 리셋
--------------------------------------------------------*/

	* {-webkit-text-size-adjust:none; font-smoothing:antialiased;}
	/* margin, padding 초기화 */
	html, body
	{margin:0; padding:0; font-family:NanumSquare, "돋움", Dotum, "굴림", Gulim, arial, sans-serif; font-size:14px; color:#6e6e6e;}

	div, span, object, embed, iframe, applet,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre, address,
	dl, dt, dd, ol, ul, li,
	form, fieldset,
	center,
	ins, del,
	table, caption, tbody, tfoot, thead, tr, th, td,
	q, cite,
	a, img,
	em, strong, abbr, acronym, sub, sup, dfn, code, var, samp, kbd, b, i, small, big, tt, s, strike, u,
	input, label, select, legend, textarea, button
	{margin:0; padding:0;}


/* 특성별 선택자 리셋
--------------------------------------------------------*/

	ol, ul ,li {list-style:none;}
	h1, h2, h3, h4, h5, h6 {font-weight:normal;}
	input,textarea,select,td,th {font-family:NanumSquare, "돋움", Dotum, "굴림", Gulim, arial, sans-serif; font-size:14px; color:#6e6e6e; vertical-align:middle;}
	abbr, acronym, img, fieldset {border:0 none;}
	img {vertical-align:middle;}
	table {border-spacing:0; border-collapse:collapse;}
	label {cursor:pointer;}
	blockquote:before, blockquote:after, q:before, q:after {content:""; content:none;}
	a {color:#6e6e6e; text-decoration:none;}
	a:link {color:#6e6e6e; text-decoration:none;}
	a:visited {color:#6e6e6e; text-decoration:none;}
	a:hover, a:active {color:#6e6e6e; text-decoration:none;}


/* 숨김처리 리셋
--------------------------------------------------------*/
	
	hr, legend {position:absolute; top:0; left:-9999px; visibility:hidden; overflow:hidden; width:1px; height:1px; margin:0; padding:0; line-height:1px;}
	caption {visibility:hidden; overflow:hidden; width:1px; height:0; margin:0; padding:0; line-height:0;}


/* 폼 요소에 대한 리셋
--------------------------------------------------------*/

	input[type="radio"], input[type="checkbox"] {width:13px; height:13px; vertical-align:-2px; *vertical-align:0;}
	input, textarea {-webkit-appearance:none; border-radius:0;} /* ios, webkit 대응 폼요소 초기화 */
	input[type="checkbox"] {-webkit-appearance:checkbox;} /* ios, webkit 대응 체크박스 설정 */
	input[type="radio"] {-webkit-appearance:radio;} /* ios, webkit 대응 라디오버튼 설정 */
	input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {-webkit-appearance:none; margin:0;}
	input[type="number"] {-moz-appearance:textfield; margin:0;}


/* HTML5 reset
--------------------------------------------------------*/

	header, hgroup, nav, section, article, figure, figcaption, aside, footer,
	audio, video, canvas,
	details, summary, menu, ruby,
	mark, time, output
	{margin:0; padding:0; font-size:100%; font:inherit;}

	/* HTML5 display-role reset for older browsers : html5을 완벽히 지원 못하는 브라우저(예:파이어폭스 옛버전) display 설정 */
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}